*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 72px 104px;
    background-color: #121214;
    font-family: 'Mulish', sans-serif;

    display: grid;
    justify-content: center;
}

.app{
    max-width: 1228px;
}

header h1{
    color: #02799D;
    font-size: 58px;
    font-weight: 900;
    line-height: 74px;
}

header p{
    color: #E1E1E6;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
}

main{
    margin-top: 62px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    
    row-gap: 44px;
    column-gap: 60px;
}

.card{
    background-color: #202024;
    border: 2px solid #323238;
    border-radius: 8px;
    overflow: hidden;
}

.card h2{
    color: #E1E1E6;
    font-size: 36px;
    font-weight: 900;
    line-height: 44px;

    padding: 24px 0 0 22px;
}

.card p{
    color: #C4C4CC;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;

    padding: 24px 22px 40px;
}